

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="/AdminPanel/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/AdminPanel/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/AdminPanel/assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    @RenderSection("CssFiles", false)
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />*@
</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0;background-color:black">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yönetici</a>
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">
                Son Erişim : @DateTime.Now.ToString("dd MMM yyyy") &nbsp; <a href="#" class="btn btn-danger square-btn-adjust" style="background-color:red;">Çıkış Yap</a>
            </div>
        </nav>
        @*Logout panel*@
        <!-- /. NAV TOP  -->



        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="/AdminPanel/assets/img/find_user.png" class="user-image img-responsive" />
                    </li>


                    <li>
                        <a href="/Categories/List"><i class="fas fa-layer-group fa-3x"></i> Kategoriler</a>
                    </li>
                    <li>
                        <a href="/Products/List"><i class="fa fa-desktop fa-3x"></i> Ürünler</a>
                    </li>
                    <li>
                        <a href="/Products/DetailList"><i class="fa fa-qrcode fa-3x"></i>Ürün vitrini</a>
                    </li>
                    <li>
                        <a href="/Statistics/Index"><i class="fa fa-bar-chart-o fa-3x"></i> İstatistikler</a>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="active-menu" href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. MENU NAV SIDE  -->




        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>

                <hr />

            </div>

        </div>

    </div>

    <script src="/AdminPanel/assets/js/jquery-1.10.2.js"></script>
    <script src="/AdminPanel/assets/js/bootstrap.min.js"></script>
    <script src="/AdminPanel/assets/js/jquery.metisMenu.js"></script>
    <script src="/AdminPanel/assets/js/custom.js"></script>
    @RenderSection("Scripts", false)


</body>
</html>
